{% extends 'firstapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>password-reset-done</title>
{% endblock %}
{% block first %}
    <div class="carousel-item active" data-interval="3000">
                    <img src="{% static 'firstapp/images/bgimg1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img src="{% static 'firstapp/images/img4home.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img src="{% static 'firstapp/images/bgimg2.jpg' %}" class="d-block w-100" alt="...">
                </div>


{% endblock %}

{% block content %}

  <!--Password reset sent-->
	<div class="mycontainer2" style="width:50%;margin-left:400px;">
  	<h2 class="font-weight-bold mt-3" style="color:darkblue;"><u>Password reset sent</u></h2>
		<hr>
		<p style="color:red;">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>

{% endblock %}